<div class="container-fluid">
  
  <div class="jumbotron">
    <div class="panel panel-info">    
        <h1 id="title">Github Search</h1>
        </div>
    </div>
  <div class="row">
      <div class="col-md-6">
        <form (ngSubmit)="check()">
        

            <div class="form-group">

                <label for="name">Username</label>
                <input type="text" required class="form-control" id="name">
                
                

            </div>
       
            <button type="submit" class="btn btn-success btn-lg">Search</button>
      
          </form>
      </div>
            
      <div class="col-md-6">

        <div id="result">
        
        public_repos:{{repos.public_repos}}<br>
        followers:{{repos.followers}}<br>
        following:{{repos.following}}<br>
        public_gists:{{repos.public_gists}}<br>
        <div id="fol" appStrikethrough>create_att:{{repos.create_at}}</div>
        <p>This work will be completed in {{repos.create_at|dateCount}} days</p>
        </div>
          <a href="{{repos.html_url}}">Link to Github</a>
      </div>
    </div>  
</div>

